html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
a{
  text-decoration: none;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* Estilo do contêiner dos resultados */
.pac-container {
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  z-index: 1000 !important;
}

/* Estilo de cada item de sugestão */
.pac-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.pac-item:hover {
  background-color: #f1f1f1;
}

/* Estilo do texto principal */
.pac-item .pac-item-query {
  font-weight: bold;
}

/* Estilo do texto secundário */
.pac-item .pac-item-query + span {
  font-size: 0.875rem;
  color: #757575;
}